[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "==3.0.0"
mkdocs = "==1.2.3"
mkdocs-material = "==7.2.8"
mkdocs-mermaid2-plugin = "==0.5.2"
mkdocs-redirects = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
